/*
this is the background whole solor
*/
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

/*
calculator buttons below display
*/
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden; /*deal with elements overflowing*/
}

/*
properties of the display bar
*/
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*to turn this elements into 4 rows*/
    gap: 10px; /*gap between numbers*/
    padding: 25px; /*space around at border*/
}

/*
size of button and its properties. Color, size and stuff.
*/
button{
    width: 100px; 
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

/*
new color and hovering for the first column of buttons
looks cool right?
*/
.sanjucolumn{
    background-color: rgb(41, 41, 116);
}

.sanjucolumn:hover{
    background-color: rgb(67, 67, 143);
}

.sanjucolumn:active{
    background-color: rgb(108, 108, 181);
}